<h1>Book Clubs</h1>
<div>
    <table class="table table-bordered" *ngIf="bookClubs">
        <thead>
            <tr>
                <th class="display-6">Club name</th>
                <th class="display-6" style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bookClub of bookClubs">
                <td>{{ bookClub.bookClubTitle }}</td>
                <td>
                    <span>
                        <button class="btn" (click)="editBookClub(bookClub.bookClubId)" title="Edit"><i
                                class="fa fa-edit"></i></button>
                        <button class="btn" (click)="viewBookClub(bookClub.bookClubId)"><i class="fa fa-eye" title="View"></i></button>
                        <button class="btn" (click)="deleteBookClub(bookClub.bookClubId)" title="Delete"><i class="fa fa-trash-o"></i></button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="pr-5"></div>
    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary" (click)="addNewClub()"><i class="fa fa-plus"></i> Add new Club</button>
        </div>
    </div>
</div>